.child {-ms-flex-preferred-size: 100%;flex-basis: 100%;}

#body {
	position: relative;
	padding: 20px 5% 0;
	background: rgb(182, 231, 236) url('works/bg_works0.jpg') center center/1500px auto repeat fixed;
}

#line {display: none;}

section.works {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch; -ms-flex-line-pack: stretch; align-content: stretch;
}

section.works::after {
	content: ""; clear: both; display: table;
}

div.work {
	margin: 0 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start;
}

div.poin {
	display: none;
}

div.wk_label {
	width: 100%; height: auto;
	padding: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
	text-align: center;
}

div.wk_label img {
	width: 200px; height: 200px;
	border: 1px solid white;
	border-radius: 20px;
	-webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, .5);
	        box-shadow: 4px 4px 6px rgba(0, 0, 0, .5);
}

div.wk_label a {
	padding: 8px 15px; margin: 20px 0 0;
	background: rgb(0,17,30);
	border: 1px solid white;
	border-radius: 15px;
	-webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, .7);
	        box-shadow: 3px 3px 6px rgba(0, 0, 0, .7);
	text-decoration: none;
	font-size: 16px;
	color: white;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

div.wk_label a:hover {
	background: rgb(225,225,225);
	border: 1px solid rgb(0,17,30);
	color: rgb(0,17,30);
	font-weight: bold;
}

div.wk_desc {
	padding: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
	background: rgba(255,255,255,.5);
	border-radius: 15px;
}

div.wk_desc span {
	padding: 5px 10px; margin: 0 0 10px;
	background: rgb(0,17,30);
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: white;
}

div.wk_desc h3 {
	margin: 0 0 5px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
}

div.wk_desc h4 {
	margin: 0 0 20px;
	font-weight: normal;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: rgb(50,50,50);
	
}

div.wk_desc p {
	margin: 0;
	text-align: justify;
	font-size: 16px;
	line-height: 24px;
}

div.wk_desc ul {
	padding: 0 0 0 20px; margin: 0;
	text-align: justify;
	font-size: 16px;
	line-height: 24px;
}

@media only screen and (min-width: 571px) {
	#body{padding: 20px 10% 0;}
	div.wk_desc {padding: 30px;}
}

@media only screen and (min-width: 841px) {
	#body{padding: 20px 5%;}
	section.works {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	div.work {
		width: calc(50% - 10px);
		margin: 0 0 20px;
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 auto;
		        flex: 0 1 auto;
	}
	div.work:nth-of-type(odd) {margin: 0 20px 0 0;}
	div.work:nth-of-type(even) {margin: 0;}
	div.wk_desc {padding: 15px;}
} 

@media only screen and (min-width: 1201px) {
	#body {
		padding: 20px 10% 0;
		background-attachment: scroll;
	}
	#line {
		position: absolute;
		left: calc(10% + 23.5px); top: 0;
		height: calc(100% - 140px);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border-left: 3px dashed rgb(0,17,30);
		z-index: 0;
	}	
	div.work:nth-of-type(odd), div.work:nth-of-type(even) {
		width: 100%;
		margin: 0 0 20px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch;
	}
	div.poin {
		width: 50px; height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
	}
	div.poin span {
		position: relative;
		width: 25px; height: 25px;
		border-radius: 50%;
		background: rgb(255,204,0);
		border: 3px solid rgb(0,17,30);
		z-index: 1;
	}
	div.wk_label {
		width: 250px;
	}
	div.wk_desc {
		width: 50%; height: auto;
		padding: 15px 30px;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start;
	}
}